<div class="cards-container">
  <button routerLink="/plantes" class="button-back">Retour</button>
  <div class="card">
    <p class="titre">Détails</p>
    <div class="detail">
      <div class="caracteristique">
        <p>Caractéristique</p>
        <div class="details" *ngIf="plante$ | async as plante">
          <p>id : {{plante.id}}</p>
          <p>denomination : {{plante.denomination}}</p>
          <p>{{plante.categorie}}</p>
          <p>categorie : {{plante.gardiennageIds}}</p>
          <p>photosIds : {{plante.photosIds}}</p>
          <p>Localisation :</p>
          <div class="map">
            <iframe
              width="350"
              height="450"
              style="border:0"
              loading="lazy"
              allowfullscreen
              referrerpolicy="no-referrer-when-downgrade"
              [src]="urlSafe">
            </iframe>
          </div>
        </div>
      </div>
      <div class="photo">
        <div class="picture">
          <h2 class="picture-title">Prendre une nouvelle photo</h2>
          <input type="file" capture="camera" accept="image/*" id="cameraInput1" name="cameraInput"
                 (change)="onFileSelected($event)">
          <button class="button mt-1" type="button" (click)="onUpload()">Importer l'image</button>
        </div>
      </div>
    </div>
  </div>
</div>
