.cards-container {
  margin: auto;
  width: 70%;
  .button-back {
    padding: .6rem 2rem;
    margin-top: 40px;
    border: 1px solid #0f60c9;
    border-radius: 6px;
    color: #ffffff;
    background-color: #0f60c9;
    font-weight: bold;
    transition: all .3s ease-in-out;
    cursor: pointer;

    &:hover{
      background-color: #ffffff;
      color: #0f60c9;
    }
  }
  .card {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 3px;
    width: auto;
    min-height: 300px;
    display: block;
    border: 2px solid white;
    background-color: #06427d;
    border-radius: 6px;
    color: white;
    .titre {
      display: flex;
      justify-content: center;
      margin: 8px;
      border: 2px white solid;
      font-size: 3em;
      padding: 10px;
      border-radius: 6px;
      background-color: #0f60c9;
    }
    .detail {
      display: flex;
      justify-content: space-between;
      .caracteristique {
        display: flex;
        flex-direction: column;
        border: 2px solid white;
        border-radius: 6px;
        height: auto;
        min-height: 300px;
        min-width: 45%;
        width: 100%;
        margin-right: 2px;
      }
      .photo {
        display: flex;
        border: 2px solid white;
        border-radius: 6px;
        min-height: 300px;
        min-width: 45%;
        width: auto;
        margin-right: auto;
        margin-left: 2px;
      }
    }
  }
  .details {
    margin-top: 1rem;
    iframe {
      display: block;
      margin: auto;
    }
    .mt-1 {
      margin-top: 1rem;
    }
  }
  .picture {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    .picture-title {
      color: yellow;
      font-weight: 500;
      margin-bottom: .5rem;
      text-decoration: underline;
    }
  }
  .button {
    max-width: 200px;
    padding: .6rem 2rem;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 6px;
    color: #ffffff;
    background-color: #0f60c9;
    font-weight: bold;
    transition: all .3s ease-in-out;
    &:hover {
      background-color: #ffffff;
      color: #0f60c9;
      border: 1px solid #0f60c9;
    }
  }
}



@media only screen and (min-width: 1400px) {
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 1170px) {
  .cards-container {
    width: 90%;
    align-items: center;
    justify-content: center;
    grid-gap: 10px;
    margin-left: 150px;
    grid-template-columns: repeat(1, 1fr);

  }
}

@media only screen and (max-width: 790px) {
  .cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 20px;
    .card {
      width: 100%;
      height: auto;
      flex-direction: column;
      .detail {
        display: flex;
        flex-direction: column;
        iframe {
          width: 100%;
          height: 200px;
        }
        .photo {
          width: 100%;
        }
      }
    }
  }
}

/*@media only screen and (max-width: 520px) {
  .cards-container {
    .card {
      width: 390px;
    }
  }
}

@media only screen and (max-width: 420px) {
  .cards-container {
    .card {
      width: 300px;
    }
  }

}*/
