<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<!-- Composant barre de navigation -->
<nav class="navbar">
  <a href="../../../../index.html">

    <h1 class="navbar-logo-title"><img class="img" src="./assets/img/logo_plante.png" alt=""></h1>

  </a>
  <div class="menu-burger" (click)="showAndHideMenu()">
    <span [ngClass]="{'burger-line' : show === false, 'crossBlue' : show === true}"></span>
    <span [ngClass]="{'burger-line' : show === false}"></span>
    <span [ngClass]="{'burger-line' : show === false}"></span>
    <span [ngClass]="{'burger-line' : show === false, 'burger-line crossOrange' : show === true}"></span>
  </div>
</nav>


<!-- Composant Menu -->
<aside class="aside" [ngClass]="{'hidden' : show === false, 'visible' : show === true}">
 <!--
  <div *ngIf="(connectedUser$ | async)?.role === 'ROLE_ADMIN'" class="bar-link" routerLinkActive="active">
    <a routerLink="admin"  title="Administration">
      <app-icon-user class="icons"></app-icon-user>
      <p>Administration</p>
    </a>
  </div>-->
  <div class="bar-link" routerLinkActive="active">
    <a routerLink="plantes" title="Plantes">
      <app-icon-vegetable class="icons"></app-icon-vegetable>
      <p>Plantes</p>
    </a>
  </div>
  <div class="bar-link" routerLinkActive="active">
    <a routerLink="user" title="User">
      <app-icon-address-card class="icons"></app-icon-address-card>
      <p>Mon compte</p>
    </a>
  </div>
  <div class="bar-link" routerLinkActive="active">
    <a routerLink="botanist" title="Botanists">
      <app-icon-address-card class="icons"></app-icon-address-card>
      <p>Botaniste</p>
    </a>
  </div>
  <div class="bar-link" routerLinkActive="active">
    <a routerLink="plant-sitting" title="Plant-sitting">
      <app-icon-address-card class="icons"></app-icon-address-card>
      <p>Gardiennage</p>
    </a>
  </div>
  <div class="bar-link" routerLinkActive="active">
    <a routerLink="chat" title="chat">
      <app-icon-vegetable class="icons"></app-icon-vegetable>
      <p>Chat</p>
    </a>
  </div>
  <div class="bar-link">
    <a (click)="logout()" title="Logout">
      <app-icon-logout class="icons"></app-icon-logout>
      <p>Déconnexion</p>
    </a>
  </div>
</aside>


<router-outlet class="tr-content"></router-outlet>
