.aside{
  position: fixed;
  top: 30px;
  left: 0;
  height: 100%;
  background-color: #06427d;
  color: white;
  font-size: .7rem;
  text-align: center;
  padding: 1.2rem 0rem;
  z-index: 2;
  width: 120px;
  transition: transform ease-in-out .4s;
  a{
    cursor: pointer;
    color: white;
    z-index: 5;
    width: 100%;
    &:hover{
      .icons {
        background: #0f1b83;
        color: white;
      }
      p {
        background: #0f1b83;
        color: white;
        text-shadow: 0px 0px 0px darkgreen;
      }
    }
    .icons{
      padding: 1.6rem 0rem;
      margin-bottom: .2rem;
      font-size: 1.5rem;
      height: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: 4;
      color: white;
      transition: color .1s, background-color .1s, transform .4s;
    }
    p{
      padding-bottom: 1rem;
      margin-top: -.8rem;
      font-size: .7rem;
      color: white;
      text-shadow: 1px 1px 2px darkgreen;
      transition: color .1s, background-color .1s, transform .4s;
    }
  }
  .bar-link:nth-of-type(1){
    margin-top: -1.2rem;
    margin-bottom: -.6rem;
  }
}

.active{
  background-color: #02145d;
  transition: all .3s ease-in-out;
  pointer-events: none;
}

.active a p{
  color: #2ed10e;
  text-shadow: 0px 0px 0px white;
}

.active a .icons{
  color: #2ed10e;
}
.aside{
  a {
    overflow: hidden;
    position: relative;
    display: block;
    width: 100%;
    text-decoration: none;
  }
  .username{
    pointer-events: none;
  }
  a::before,
  a::after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
  }
  a::before {
    background-color: #00ffdd;
    height: 2px;
    bottom: 9px;
    transform-origin: 100% 50%;
    transform: scaleX(0);
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
  }
  a:hover::before {
    transform-origin: 0% 50%;
    transform: scaleX(1);
  }
}

@media only screen and (max-width: 1270px) {
  .aside{
    overflow: hidden;
  }
  .visible{
    transition: transform ease-in-out .4s;
    transform: translateX(0px);
  }
  .hidden{
    transition: transform ease-in-out .4s;
    transform: translateX(-150px);
  }
  .menu-burger{
    display: flex;
    z-index: 300;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: .2rem;
    .crossBlue{
      margin-bottom: 4px;
      height: 2px;
      width: 20px;
      transform: rotate(45deg) translateY(2px) translateX(2px);
      background-color: green;
      transition: all .3s;
    }
    .crossNone{
      display: none;
    }
    .crossOrange{
      transition: all .3s;
      margin-bottom: 4px;
      height: 2px;
      width: 20px;
      transform: rotate(-45deg) translateY(-3px) translateX(2px);
    }

    .burger-line{
      transition: all .3s;
      margin-bottom: 4px;
      height: 2px;
      width: 20px;
      background-color: orange;
    }
  }
}

.navbar{
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 0;
  height: 30px;
  width: 100%;
  padding-right: .5rem;
  background-color: white;
  z-index: 1;
  a{
    display: block;
    max-width: 100px;

    .navbar-logo-title{
      max-width: 100px;
      font-size: 1.2rem;
      font-weight: 0;
      padding-top: -0.2rem;
      margin-left: 0px;
      img {
        max-width: 20px;
        padding-top: 0.5rem;
      }
    }
  }
}
