<div class="container-chat">

<!-- ------------ LIST OF USERS --------------- -->
  <div class="left-user-container">
    <div class="user-card">
      <p>Liste des utilisateurs :</p>
    </div>
    <div class="user-card" *ngFor="let user of (user$ | async)" (click)="openChat(user.id)">
      <p>{{user.login}}</p>
    </div>
  </div>

<!-- ------------ CHAT --------------- -->
    <div class="card">

      <div class="card-header">
          <div class="user_info">
            <span>{{userRecepteurlogin | uppercase}}</span>
          </div>
      </div>

      <div class="card-body" #NiceScroll [scrollTop]="NiceScroll.scrollHeight">
        <div *ngFor="let message of (messages$ | async)">
          <div class="container-message-emeteur" *ngIf="message.emeteur==currentIdUser">
            <div class="container-date-msg">
              <div class="message-emeteur">
                {{message.body}}
              </div>
              <div class="date-emeteur">
                <p class="msg_time">{{message.dateEnvoi}}</p>
              </div>
            </div>
            <div class="circle-emeteur">
                <p>{{currentUserLogin.substring(0,2) | uppercase}}</p>
            </div>
          </div>

          <div class="container-message-recepteur" *ngIf="message.emeteur!=currentIdUser">
              <div class="circle-recepteur">
                  <p>{{userRecepteurlogin.substring(0,2) | uppercase}}</p>
              </div>
            <div class="container-date-msg-recepteur">
              <div class="message-recepteur">
                {{message.body}}
              </div>
              <div class="date-recepteur">
                <p class="msg_time">{{message.dateEnvoi}}</p>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="card-footer">
        <form [formGroup]="messageFormgroup">
            <textarea class="type_msg" placeholder="Write your message..."
                      formControlName="sentMessage" (keyup.enter)="sendMessage()"></textarea>
            <div class="input-group-button">
              <button class="send_btn" (click)="sendMessage()">
                <i class="fa fa-location-arrow"></i>
              </button>
            </div>
        </form>
      </div>

    </div>

</div>

