*{
  padding: 0;
  margin: 0;
}

.container-chat {
  width: 100%;
  height: calc(100% - 14rem);
  display: flex;
  margin-top: 29px;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(10, 10, 127) 35%, rgb(0, 144, 255) 100%);
}

//// Liste des utilisateurs

.left-user-container {
  height: 100%;
  background-color: #02145d;
  width: 200px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  margin-left: 120px;
  border-right: 3px solid #23bc0f;
}

.user-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid #23bc0f;
  padding: 20px;
  cursor: pointer;
}
.user-card:last-child {
  border-bottom: 1px solid #23bc0f;
}
.user-card:first-child {
  cursor: default;
}

.user-card p {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 2px darkgreen;
}

.user-card:hover:not(.user-card:first-child){
  background: #0f1b83;
}




/////////////////// Chat

/////General
.card {
  width: 600px;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


///// Header
.card-header {
  background-color: #06427d;
  width: 100%;
  height: 50px;
}

.user_info {
  margin-left: 15px;
  padding: 10px;
  height: 100%;
  display: flex;
  align-items: center;
}

.user_info span {
  font-size: 20px;
  color: white;
}

///// Body
.card-body {
  background-color: #fff;
  overflow-y: auto;
  width: 100%;
  height: 70%;
}

.card-body::-webkit-scrollbar {
  width: 5px;
}

.circle-emeteur {
  background-color: #06427d;
  height: 40px;
  width: 40px;
  border: 1px solid white;
  border-radius: 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.circle-emeteur p{
  margin: 0;
  letter-spacing: 1px;
}

.circle-recepteur {
  background-color: #4b90d9;
  height: 40px;
  width: 40px;
  border: 1px solid white;
  border-radius: 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.circle-recepteur p{
  margin: 0;
  letter-spacing: 1px;
}

.container-message-recepteur {
  display: flex;
  justify-content: flex-start;
  margin: 10px;

}
.message-recepteur {
  padding: 10px;
  background: rgb(140, 200, 253);
  color: white;
}
.date-recepteur {
  text-align: left;
}
.container-date-msg-recepteur {
  margin-left: 10px;
  max-width: 80%;
}

.container-message-emeteur {
  display: flex;
  justify-content: flex-end;
  margin: 10px;
}
.message-emeteur {
  background-color: #43c96a;
  //background-color: #23bc0f;
  padding: 10px;
  color: white;
  text-align: left;
}

.container-date-msg {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  max-width: 80%;
}

.date-emeteur {
  text-align: right;
}

.msg_time {
  color: rgba(23, 18, 35, 0.5);
  font-size: 10px;
}

///// Footer
.card-footer {
  padding: 10px;
  width: 100%;
  height: 110px;
  background-color: #eaeaea;
}

.type_msg {
  background-color: #06427d;
  color: white;
  height: 60px;
  width: 80%;
  padding: 10px;
}

.type_msg:focus {
  box-shadow: none !important;
  outline: 0px !important;
}

.send_btn {
  background-color: #06427d;
  color: white;
  cursor: pointer;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
}

.input-group-button{
  width: 20%;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.card-footer form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


///////// Responsive
@media only screen and (max-width: 1270px) {
  .container-chat {
    margin-left: 0;
  }
  .left-user-container {
    margin: 0;
  }
}

@media only screen and (max-width: 800px) {
  .left-user-container {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .card {
    width: 100%;
    margin: 0;
    .input-group-button{
      padding: 10px;
    }
    .card-footer{
      display: flex;
      align-items: center;
    }
  }
}
