.cgu{
  max-width: 70%;
  display: block;
  margin: 3rem auto;
  border: 3px ridge #08c95c;
  padding: 3rem;
  .flex{
    display: flex;
    align-items: center;
    .img{
      width: 8rem;
      height: 8rem;
      margin-right: 1rem;
    }
    .title{
      color: #0fc978;
      font-size: 2.5rem;
    }
  }
  h3{
    color: #0fc978;
    font-size: 1.1rem;
    text-shadow: 1px 0px 1px #000000;
  }
}

@media screen and (max-width: 690px) {
  .cgu{
    max-width: 90%;
  }
}
