<div class="container">
  <mat-card class="example-card">
    <form class="example-form flex-center" (ngSubmit)="submit()" [formGroup]="form">
      <h1 class="title example-form">Se connecter</h1>
      <img class="img" src="./assets/img/logo_plante.png" alt="">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Votre mail" formControlName="mail">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Mot de passe</mat-label>
        <input matInput type="password" placeholder="Votre mot de passe" formControlName="password" [type]="hidePassword ? 'password' : 'text'">
        <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>
      <div class="error-message" *ngIf="errorMessage.length > 0 ">{{errorMessage}}</div>
      <button class="account-button" mat-raised-button color="primary" [disabled]="!form.valid">Connexion</button>
      <p class="create-account-text">Vous n'avez pas encore de compte ?</p>
      <a routerLink="inscription" class="account-button" mat-raised-button color="accent">Créer un compte</a>
    </form>
  </mat-card>
</div>
