<form class="container example-form" (ngSubmit)="submit()" [formGroup]="form">
  <mat-card class="example-card">
    <div class="example-form flex-center">
      <h1 class="title">S'inscrire</h1>
      <img class="img" src="./assets/img/logo_plante.png" alt="">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Pseudo</mat-label>
        <input matInput type="text" placeholder="Votre pseudo" formControlName="login">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput type="text" placeholder="Votre email" formControlName="mail">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Mot de passe</mat-label>
        <input matInput type="password" placeholder="Votre mot de passe" formControlName="password" [type]="hidePassword ? 'password' : 'text'">
        <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>
      <div class="error-message" *ngIf="errorMessage.length > 0">{{errorMessage}}</div>
      <button class="account-button" mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Créer un compte</button>
      <p class="text-center">
        En vous inscrivant, vous reconnaissez avoir pris connaissance et acceptez nos <a
        routerLink="/cgu-rgpd">conditions générales d'utilisation</a>.
      </p>
      <p class="create-account-text">Vous possédez déjà un compte ?</p>
      <a routerLink="/" class="account-button" mat-raised-button color="accent">Connexion</a>
    </div>
  </mat-card>
</form>
