@import 'src/assets/styles/account';
.text-center{
  text-align: center;
  margin: .6rem 0 2.5rem 0;
  width: 80%;
  a{
    text-decoration: none;
    color: rgba(15, 81, 178, 0.89);
    transition: color .4s ease-out ;
    &:hover{
      text-decoration: underline;
      color: rgba(13, 99, 226, 0.89);
      text-decoration-color: rgba(14, 206, 97, 0.89);
      text-underline-offset: .3rem;
    }
  }
}
