<form class="container example-form" (ngSubmit)="submit()" [formGroup]="form">
  <mat-card class="example-card">
    <div class="example-form flex-center">
      <h1 class="title">Modifier mon compte</h1>
      <img class="img" src="./assets/img/logo_plante.png" alt="">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Pseudo</mat-label>
        <input matInput type="text" placeholder="Votre Pseudo" formControlName="login">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput type="text" placeholder="Votre email" formControlName="mail">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Mot de passe</mat-label>
        <input matInput type="password" placeholder="Votre mot de passe" formControlName="password" [type]="hidePassword ? 'password' : 'text'">
        <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Vérification mot de passe</mat-label>
        <input matInput type="password" placeholder="Votre mot de passe" formControlName="passwordCheck" [type]="hideConfimPassword ? 'password' : 'text'">
        <mat-icon matSuffix (click)="hideConfimPassword = !hideConfimPassword">{{hideConfimPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>
      <mat-error *ngIf="form.hasError('notSame')">
        Les mots de passes ne correspondent pas.
      </mat-error>
      <br>
<!--      <div class="user-settings-pictures">-->
<!--        <h2>Mes Plantes</h2>-->
<!--        <div class="picture">-->
<!--          <div class="picture-title">Photo n°1</div>-->
<!--          <input type="file" capture="camera" accept="image/*" id="cameraInput1" name="cameraInput" formControlName="image1"(change)="onFileSelected($event)">-->
<!--          <button mat-raised-button color="primary" type="button" (click)="onUpload()">Télécharger l'image</button>-->
<!--        </div>-->
<!--        <div class="picture">-->
<!--          <div class="picture-title">Photo n°2</div>-->
<!--          <input type="file" capture="camera" accept="image/*" id="cameraInput2" name="cameraInput" formControlName="image2"(change)="onFileSelected($event)">-->
<!--          <button mat-raised-button color="primary" type="button" (click)="onUpload()">Télécharger l'image</button>-->
<!--        </div>-->
<!--        <div class="picture">-->
<!--          <div class="picture-title">Photo n°3</div>-->
<!--          <input type="file" capture="camera" accept="image/*" id="cameraInput3" name="cameraInput" formControlName="image3"(change)="onFileSelected($event)">-->
<!--          <button mat-raised-button color="primary" type="button" (click)="onUpload()">Télécharger l'image</button>-->
<!--        </div>-->
<!--      </div>-->
<!--      <h2>Devenir Botaniste ?</h2>-->
      <mat-checkbox formControlName="botaniste">Botaniste</mat-checkbox>
<!--      <div class="error-message" *ngIf="errorMessage.length > 0">{{errorMessage}}</div>-->
      <button class="account-button" mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Sauvegarder</button>
    </div>
  </mat-card>
</form>
