@import 'src/assets/styles/account';

.user-settings-pictures{
  h2{
    text-align: center;
    margin: 1.5rem 0;
  }
  .picture {
    margin-bottom: 1rem;
    .picture-title{
      color: blue;
      font-weight: 500;
      margin-bottom: .5rem;
      text-decoration: underline;
    }
    button {
      display: block;
      margin: .7rem auto;
    };
  }
}


