<div class="cards-container">
  <!-- ngFor crée un client dans tableau client$  -->
  <div class="card" *ngFor="let plante of (plantes$ | async) ">
    <div class="contact-header">
      <!-- prend le prenom et le nom du client du tableau client$ (nom en majuscule)-->
      <p class="denomination">{{plante.denomination | titlecase}}</p>
      <div class="caracterisque">
        <div class="infos">
          <p class="categorie">Catégorie: {{plante.categorie | uppercase}}</p>
          <p class="gardiennage">Gardiennage : {{plante.gardiennageIds}}</p>
        </div>
        <div class="photos">
          <p>Photos</p>
          <p *ngFor="let photo of plante.photosIds" (click)="open($event, photo)">
            {{photo}}
          </p>
        </div>
      </div>

      <!-- ngIf si statut est actif alors affichage du mot actif sinon inactif -->

      <!-- affiche fenetre de confirmation de suppression au click avec le nom et le prenom, supprime à partir de l'ID -->
      <div class="button">
        <button routerLink="/plantes/details/{{plante.id}}" class="button-detail">Détail de la plante</button>
      </div>
    </div>
  </div>
</div>
