.cards-container {
  margin: auto;
  width: 70%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  padding-top: 30px;
  .card {
    width: 500px;
    height: auto;
    display: block;
    border: 2px ridge;
    border-radius: 6px;
    background-color: #06427d;
    padding: 2rem;
    margin-bottom: 2rem;
    .contact-header{
      color: white;
      .denomination {
        justify-content: center;
        text-align: center;
        margin-bottom: 0.5em;
        border: 1px solid white;
        border-radius: 6px;
        font-size: 1.2em;
        font-weight: 500;
        background-color: #0f60c9;
      }
      .caracterisque {
        border: 1px solid white;
        border-radius: 6px;
        padding: 3px;
        margin-bottom: 3px;
        .infos{
          display: flex;
          justify-content: space-between;
          .categorie {
          margin-top: 5px;
          margin-bottom: 5px;
          text-align: end;
          }
          .gardiennage{
            margin-top: 5px;
            margin-bottom: 5px;
          }
        }
        .photos {
          border-top: 2px solid #ccc;
        }
      }
      .button{

        display: flex;
        justify-content: center;

        .button-detail{
          padding: .6rem 2rem;
          cursor: pointer;
          border: 1px solid white;
          border-radius: 6px;
          color: #ffffff;
          background-color: #0f60c9;
          font-weight: bold;
          transition: all .3s ease-in-out;

          &:hover{
            background-color: #ffffff;
            color: #0f60c9;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1400px) {
  .cards-container {
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 1270px) {
  .cards-container {
    width: 90%;
    align-items: center;
    justify-content: center;
    grid-gap: 10px;
    margin-left: 50px;
    grid-template-columns: repeat(1, 1fr);
    .card {
      width: 80%;
    }
  }
}

@media only screen and (max-width: 400px) {
  .cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 20px;
    .card {
      width: auto;
      height: auto;
    }
  }
}

/*@media only screen and (max-width: 520px) {
  .cards-container {
    .card {
      width: 390px;
    }
  }
}

@media only screen and (max-width: 300px) {
  .cards-container {
    .card {
      width: 300px;
    }
  }
}*/

