.container{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(10, 10, 127) 35%, rgb(0, 144, 255) 100%);
  .example-card {
    margin: 3rem 0;
    width: 360px;
    img{
      height: 200px;
      width: 200px;
    }
    .flex-center{
      .title {
        letter-spacing: 1px;
        font-weight: bold;
        margin-top: 2rem;;
      }
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .account-button:first-of-type{
      margin: 2rem 0;
    }
    .account-button{
      margin: 1rem 0;
    }
    .mat-form-field{
      max-width: 60%;
    }
  }
}
