<footer class="footer">
  <img class="img" src="./assets/img/logo_plante.png" alt="">
  <div class="mr-3">
    <h2  class="title-category">© Arossage - 2023</h2>
    <span>Une application permettant un gardiennage de plantes et,</span> <br>
    <span> le suivi de ses soins s'ils sont nécessaires par des botanistes</span>
  </div>
  <div class="mr-3 mt">
    <h2 class="title-category">Menu de l'application</h2>
    <div class="flex">
      <a class="mb" routerLink="/inscription" routerLinkActive="active">S'inscrire</a>
      <a routerLink="/" routerLinkActive="active">Se connecter</a>
    </div>
  </div>
  <div class="mr-3">
    <h2  class="title-category">Réglementations</h2>
    <div class="flex">
      <a routerLink="/cgu-rgpd" routerLinkActive="active">CGU & RGPD</a>
      <br>
    </div>
  </div>
</footer>
