.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 14rem;
  width: 100vw;
  font-size: 1rem;
  border-top: 3px solid #23bc0f;
  a{
    text-decoration: none;
    color: rgba(17, 90, 198, 0.89);
    transition: color .4s ease-out ;
    &:hover{
      text-decoration: underline;
      color: rgba(13, 99, 226, 0.89);
      text-decoration-color: rgba(14, 206, 97, 0.89);
      text-underline-offset: .3rem;
    }
  }
  .img{
    width: 10rem;
    height: 10rem;
  }
  .flex{
    display: flex;
    flex-direction: column;
    .mb{
      margin-bottom: .5rem;
    }
  }
  .mr-3{
    margin-right: 3rem;
  }
  .mt{
    margin-top: .5rem;
  }
  .title-category{
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
    text-decoration: underline;
    text-decoration-color: rgba(14, 206, 97, 0.89);
    text-underline-offset: .4rem;
    color: rgba(11, 137, 50, 0.89);
  }
}

@media screen and (max-width: 690px) {
  .footer{
    flex-direction: column;
    align-items: center;
    min-height: 70%;
    .mr-3{
      margin-left: 30px;
      margin-right: 30px;
      text-align: center;
    }
    .img{
      width: 5rem;
      height: 5rem;
    }
  }
}
